<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.daniel_brueggemann.nullcraftapp"
    android:versionCode="11"
    android:versionName="Beta 0.8.2.3.E2" android:installLocation="auto">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
	<!-- uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" /-->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<application android:allowBackup="true" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:theme="@style/AppTheme" android:allowClearUserData="true" android:hasCode="true" android:enabled="true" android:logo="@drawable/ic_launcher" android:testOnly="false" android:description="@string/app_discription" android:hardwareAccelerated="true" android:uiOptions="splitActionBarWhenNarrow"><activity android:name="de.daniel_brueggemann.nullcraftapp.MainActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
	<activity android:name="ImpressActivity" android:label="@string/app_name"></activity>
	<activity android:name="Dynmap" android:label="@string/app_name"></activity>
	<activity android:label="@string/app_emc" android:name="Emc"></activity>
	<activity android:name="Newsreaderselect" android:label="@string/app_name_new"></activity>
	<activity android:name="Newsreader" android:label="@string/app_name_new"></activity>
	<activity android:name="RssReaderActivity" android:label="@string/app_name_new"></activity>
	<activity android:name="VoteActivity" android:icon="@drawable/ic_launcher"></activity>
	<receiver android:name=".utilapi.votealarmReciver" android:label="@string/app_name"></receiver>
	<service android:name=".utilapi.votealarmNotficationcreateService" android:enabled="true" android:label="@string/app_name"></service>
	<receiver android:enabled="false" android:name=".utilapi.voteBooteReciver">
		<intent-filter>
			<action android:name="android.intent.action.BOOT_COMPLETED"/>
		</intent-filter>
	</receiver>
    </application>

</manifest>
